.additem{
    background-color: #000929;
}
.edititem{
    background-color: #000929;
}
.faedit{
    color: white;
}
.addstaff{

    background-color: #000929;
}
.closebtn{
    background-color: #000929;
}